# 1. 08년도, 09년도의 기본DB와 체지방관련 DB를 ID를 기준으로 각각 병합

In [97]:
import pandas as pd
import numpy as np

In [98]:
df_08_base=pd.read_csv(r"C:\Users\USER\Desktop\fat_predict_project\data\public_health_data_csv\2008_기본.csv")
df_08_fat=pd.read_csv(r"C:\Users\USER\Desktop\fat_predict_project\data\public_health_data_csv\2008_골밀도_체지방.csv")

C:\Users\USER\AppData\Local\Temp\ipykernel_13708\402900764.py:1: DtypeWarning: Columns (83,112,237,372,378,488,499,568,576,582,596,620,642,668,699,703,754,764,811,823,1111,1149) have mixed types. Specify dtype option on import or set low_memory=False.
  df_08_base=pd.read_csv(r"C:\Users\USER\Desktop\fat_predict_project\data\public_health_data_csv\2008_기본.csv")

In [99]:
print(len(df_08_base))
print(len(df_08_fat))

9744
3583

In [100]:
df_08=\
    pd.merge(df_08_base, df_08_fat, on='ID', how='left')

In [101]:
# df_08.to_csv("2008_통합.csv", index=False)

In [102]:
df_09_base=pd.read_csv(r"C:\Users\USER\Desktop\fat_predict_project\data\public_health_data_csv\2009_기본.csv")
df_09_fat=pd.read_csv(r"C:\Users\USER\Desktop\fat_predict_project\data\public_health_data_csv\2009_골밀도_체지방.csv")

C:\Users\USER\AppData\Local\Temp\ipykernel_13708\3504640829.py:1: DtypeWarning: Columns (85,114,187,240,375,381,502,645,671,702,706,767,814,826) have mixed types. Specify dtype option on import or set low_memory=False.
  df_09_base=pd.read_csv(r"C:\Users\USER\Desktop\fat_predict_project\data\public_health_data_csv\2009_기본.csv")

In [103]:
df_09=\
    pd.merge(df_09_base, df_09_fat, on='ID', how='left')

In [104]:
# df_09.to_csv("2009_통합.csv", index=False)

# 2. 08년도 데이터와 09년도 데이터 병합

In [105]:
df_08_09=pd.concat([df_08, df_09], axis=0, join='inner')
df_08_09.columns = df_08_09.columns.str.replace('_x$', '', regex=True)
#정규식 사용해서 join에서 생기는 _x를 없앰

In [106]:
df_08_09.head()

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,b'2022.03.08',b'A448440901',2008,1,1,1,b'A448',1,70,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,b'2022.03.08',b'A448440902',2008,1,1,1,b'A448',2,68,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,b'2022.03.08',b'A448680102',2008,1,1,1,b'A448',2,48,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,b'2022.03.08',b'A448680501',2008,1,1,1,b'A448',2,35,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,b'2022.03.08',b'A448680502',2008,1,1,1,b'A448',1,12,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
#df_08_09.to_csv("08+09_통합.csv", index=False)